*{
  margin: 0;
  padding: 0;
  border-sizing: border-box;
  font-family: "century gothic", sans-serif;

}
.navlist{
  width :100%;
  padding: 5px 10vw;
}
.navlist ul{
  display: flex;
  list-style: none;
}
.navlist ul li:first-child{
  flex: 1;
}
.navlist ul a{
  margin-left: 20px;
}
